section#sActivitats{
	padding: 20px;
	margin:0;	
	text-align: center;
	background: lightskyblue;
}
section#sActivitats div.hist{
	text-align: left;
}
section#sActivitats div.containerFlex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section#sActivitats div.tActivitat{
	border-radius: 20px;
	height:250px; width:180px;
	margin-left: 10px; margin-right: 10px;
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
section#sActivitats div.imageBG{
	width: 100%; height:100%;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}
section#sActivitats div.miniaturaText{
	position: absolute;
	top:5%; font-size: 20px;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	background-color: rgba(255,255,255,0.7); 
}
section#sActivitats div.imageBG:hover{transform:scale(1.1)}
section#sActivitats div.tActivitat:hover{text-decoration: underline;}