section#sInici {
  padding:0;margin:0;
  position: relative;
  overflow: hidden;
  height:90vh;
  text-align: center;
}
section#sInici img {
  position: absolute;
  min-width:100%;min-height:100%;
  top: -9999px; bottom: -9999px;
  left: -9999px; right: -9999px;
  margin: auto;
  display:none;
  filter: contrast(80%) saturate(80%) brightness(120%);
}
section#sInici img.active {display: block;}
section#sInici #slideIniciButtons{
  display: inline-block;
  color: white;
  position: absolute;
  width:100%;
  height:60px;
  line-height: 60px;
  text-align: center;
  bottom:0px;
  left:0px;
  background: linear-gradient(rgba(1,111,185,0.75),rgba(47,198,255,0.75))
}
section#sInici #slideIniciButtons a{padding: 4px; cursor: pointer;}